/*------------------------------------------------------------ 
                        HEADER
-------------------------------------------------------------*/
#sub-menu-main,
#toggle,
#sub-menu-side {
	   display:none;}




[role="banner"] {
    overflow: visible;
    #logo {
        	width: 35%;
        	float:left;
        	a {
        		background-size: 394px auto;}
    }
    
	nav {
        
        [data-icon]:before {
    	 display:none;}

        #main-menu > li {
		    position: relative;
		    display: inline;
		    float:left;
		    &:hover { background-color: #1D1D1D; }
               
               &:nth-child(2):hover #sub-menu-main {
             	 opacity:1;
             	 top:38px;
               }
			}
    }
}

#call-to-action {
  height: 40px;
  display:block;
  margin-bottom: 20px; 
  line-height: 40px;
  font-size: em(14);
  text-align: right !important;
  background-color: lighten($bg, 2%);
  @include clearfix;
   a {
        position: relative; 
        margin-left: .5em;
        @include transition ( all .55s linear );
        padding-left: 18px;
        &:hover,
        &:hover:before {
           color:$red;}
        &:before {
             font-size: em(18);
             color:$grey;
             top:-10px;
             left:0;
        }
     }
}

#sub-menu-main {
    width: 240px;
    @include box-shadow( 0 10px 3px rgba(0,0,0, .55));
	position: absolute;
	top:-900%;
	opacity:0;
	z-index: 800;
	display:table-row;
	background:#222;
	background:#1D1D1D;
    ul { 
    	padding: 0 0;}
	a {
		padding-right: .5em;
		padding-left: .875em;
		&:hover {
			  background-color: darken( $grey, 46%);
		}
	}
}

/*--------------------------------------------------------------
                           FOOTER
----------------------------------------------------------------*/

footer {
	position: fixed;
    bottom:0;
    z-index:2;
    height: 601px;
    left:0;}
   
footer nav li a,
 ul.social,
 ul.contact a {
    padding: .5em 0;
    line-height: 1.5;}

footer nav li {
	display:inline;
	float:left;

	a {
		padding: 0 .875em;
		&:first-child {
			 padding-left: 0;}
	}
}

  