/*-------------------------------------------------------------
                        SHARE
------------------------------------------------------------*/

nav li a,
ul.social a,
ul.contact a {
  text-transform: capitalize;
  position: relative;
  padding:1.25em 2em;
   &:hover,
   &:hover:before {
        color:$red;}
}

nav li {
    position: relative;
}

nav li a,
ul.contact a {
   padding:1.25em 2em;
   display: block;
   position: relative;
     &:hover,
     &:hover:before {
        color:$red;}
    }

[role="banner"] .container,
footer .container {
   /* padding: .75em 0; */
   width: 100%;
}


/*------------------------------------------------------------ 
                        HEADER
-------------------------------------------------------------*/
[role="banner"] {
  padding: .75em 0;
  nav {
    position: absolute;
    top:0;
    height: 100%;
    z-index: 800;
    width: 80%;
    left:-80%;
    min-height: 100%;
    li a {
      opacity:0;}
    [data-icon]:before {
      top:22px;}
  }
}

#sub-menu-main,
#sub-menu-side {
  height: 0;
  opacity: 0;}

#logo {
  line-height: 72px;
  margin-right: 4%;
  width: 264px;
  height: 47px;
  float:right;
  a {
     @include retina-image(logo, 264px, 47px );
     background-repeat: no-repeat;
     background-position: 100% 50%;
     background-size: 264px 47px; }
}

#toggle-wrapper {
  position: absolute;
  top:0;
  padding: .75em;
  left:0;
  a#toggle {
      @include size( em(47) );
      display:block;
  }
}

[role="banner"] nav li a,
footer nav li a,
ul.contact a {
   display: block;
   position: relative;
     &:hover,
     &:hover:before {
        color:$red;}
}

/*--------------------------------------------------------------
                           FOOTER
----------------------------------------------------------------*/

[role="contentinfo"] {
    text-align: center;
    .mb {
      margin-bottom: em(40);}
    ul.social {
      @include display-box;
      width:150px;
      margin:0 auto;
      @include box-orient( horizontal );
      
      li {
          @include box-flex( 8.0 );}
      a {
          position: relative;
          display: inline-block;
          margin-left: -36px;
          @include hide-text;}
    }   

    ul.contact a {
       padding: 1em 0;}

  

}


