[role="banner"]{
	text-align: center;
	padding: 0;
    height: auto;}

#sub-menu-main {
	display:none;}

#logo {
	margin: 0 auto;
	display:block;
	a {
		display: inline-block;
		background-position: 0 0;
		@include retina-image(logo-2x, 528px, 94px );}
}

nav {
	position: relative;
	width: 84%;
	@include display-box;
    @include box-orient( horizontal );
	li {
		@include box-flex( 1.0 );
	}

}