[role="banner"]{
	text-align: center;
    height: auto;}

#sub-menu-main {
	display:none;}

#logo {
	padding: 1em;
	text-align: center;
	display:block;
	a {
		background-size: 60% auto;
		background-position: 50% 50%;
		
	}
	}

nav {
	margin: 0 auto;
	position: relative;
	float:right;
	li {
		display:inline;
		float:left;
	}

}