[role="banner"]{
	text-align: center;
	padding: 0;
    height: auto;}

#sub-menu-main {
	display:none;}

#logo {
	// width: 300px;
	margin: 0 auto;
	display:block;
	a {
		display: inline-block;
		background-position: 0 0;
		@include retina-image(logo-2x, 528px, 94px );}
}

nav {
	margin: 0 auto;
	position: relative;
	float:right;
	li {
		display:inline;
		float:left;
	}

}