
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


::-moz-selection {
    background:transparent;
     color:$red;
}

::-webkit-selection {
   background:transparent;
   color:$red;
}

::-o-selection {
    background:transparent;
    color:$red;
}

::selection {
    background:transparent;
    color:$red;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,700);

/*--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  background: #222;
  position: relative;}

img,
audio,
video,
canvas {
  max-width: 100%;
}

section.mapping img {
   max-width: none !important ;}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;}

ul, li {  list-style-type: none; }

a { 
  color:$grey;
  text-decoration: none; 
  &:focus,
  &:active {
    outline:none;
  }
}

/*--------------------------------------------------------------*/

/* Relative Units for he Body : Key for Responsive
-------------------------------------------------------------- */

body {
	font-size: 100%;
  line-height:1.5;
  font-family: Muli, 'Helvetica Neue', Arial,sans-serif;  
	background: #222;
  overflow-x:hidden;
  font-weight: 300;
	-webkit-font-smoothing: antialiased;
	// @include user-select( none );
	@include touch-callout( none );
	@include text-size-adjust( none );
	color: $grey; 
}





  