[role="banner"],
[role="contentinfo"],
section {
	width: 100%;
	clear:both;
	overflow: hidden;
}

#mask {
  display: none;
  height: 601px;}

.container {
	@include outer-container;
	width: 92%;
	margin: 0 auto;

	@include media( $desk ) {
		width: 100%;
		margin: auto;
	}
}

.mapping .map-canvas{
	@include transition ( all .25s ease-in-out );
	padding-top: 66.5%;
	width: 100%;

	@include media( $tab ) {
		padding-top: 48.5%;
	}

	@include media( $desk ){
       padding-top: 29.5%;

	}
}

#wrapper {
	width: 100%;
	height: 100%;
	z-index: 800;
	position: relative;}


section,
[role="contentinfo"] {
	padding: em(40) 0;
    @include media( $desk ) {
    	padding: em(60) 0;
    }
}

[role="contentinfo"],
.mapping,
#slideshow {
	padding-top: 0;}


.grid-3,
.grid-4,
.grid-6,
.grid-7,
.grid-8,
.grid-8-shift-2,
.grid-9,
.grid-12 {

    width: 100%;}

 @include media( $tab ) {
     
     .grid-3 {
     	@include span-columns( 4,8 );
     	@include omega( 3n );
     }

 }



@include media( $desk ) {

    section,
    [role="contentinfo"] {
    	padding:em(60) 0;}

    footer .container + .container {
    	padding: em(60) 0 0 0;
    }

	#mask {
     display: block;}

	[role="banner"] {
		padding: 0 0 em(60);

		.container { position: relative;}

		
	}

	.container { width: 92%; }

	.grid-3 {
		@include span-columns( 3,12 );}
    
    .grid-4 {
    	@include span-columns( 4,12 );}

    .grid-5 {
    	@include span-columns( 5,12 );}
    
    .grid-6 {
    	@include span-columns( 6,12 );}

    .grid-7 {
    	@include span-columns( 7,12 );}

    .grid-8 {
    	@include span-columns( 8,12 );}

    .grid-8-shift-2 {
    	@include span-columns( 8,12 );
    	@include shift( 2 );
    }

    .grid-9 {
    	@include span-columns( 9,12 ); }

}

