[role="banner"],
footer,
[role="contentinfo"],
section {
	width: 100%;
	clear:both;
	overflow: hidden;
}

.row {
    padding: 1em 0;}

footer {
  position: relative;}

#mask {
  display: none;
  height: 601px;}

.container {
	@include outer-container;
  max-width:1140px;
	width: 88%;
	margin: 0 auto;

	@include media( $desk ) {
		width: 100%;
		margin: auto;
	}
}

.mapping .map-canvas {
	@include transition ( all .25s ease-in-out );
	padding-top: 66.5%;
  margin-bottom: 2.5em;
	width: 100%;

	@include media( $tab ) {
		padding-top: 48.5%;}

	@include media( $desk ){
       padding-top: 89.5%; }
}

 .mapping-adress,
 .descriptiom {
       display: none;
  }

#wrapper {
	width: 100%;
  position: relative;
  z-index: 800;
	height: 100%;}


section,
[role="contentinfo"] {
	padding: 2.5em 0;
}

.mapping,
#slideshow {
	padding-top: 0;}


.grid-3,
.grid-4,
.grid-6,
.grid-7,
.grid-8,
.grid-8-shift-2,
.grid-8-shift-10,
.grid-9,
.grid-12 {

    width: 100%;}

 @include media( $tab ) {
     
     .grid-3 {
     	@include span-columns( 4,8 );
     	@include omega( 3n );
     }

 }



@include media( $desk ) {

	#mask {
     display: block;}

	[role="banner"] .container { position: relative;}

	.container { width: 92%; }

	.grid-3 {
		@include span-columns( 3,12 );}
    
    .grid-4 {
    	@include span-columns( 4,12 );}

    .grid-5 {
    	@include span-columns( 5,12 );}
    
    .grid-6 {
    	@include span-columns( 6,12 );}

    .grid-7 {
    	@include span-columns( 7,12 );}

    .grid-8 {
    	@include span-columns( 8,12 );}

    .grid-8-shift-2 {
    	@include span-columns( 8,12 );
    	@include shift( 2 );}

    .grid-10-shift-1 {
      @include span-columns( 10,12 );
      padding: 0 0 2.5em 0;
      @include shift( 1 );}

     .grid-6-shift-3 {
      @include span-columns( 6,12 );
      @include shift( 3 );}

    .grid-9 {
    	@include span-columns( 9,12 ); }

    .grid-12 {
      padding: 0;
      @include span-columns( 12,12 );
    }

}

