/*-----Here the details -- color -- font -- hover design ----*/

#wrapper {
   background: $color-wrapper ;
   color:$black;
   @include box-shadow( -3px 0 8px rgba(0,0,0, 1), 3px 0 8px rgba(0,0,0, 1) );}

[role="banner"],
footer {
	 background: $bg;
	 color:$grey;}

#call-to-action {
     display:none;}

h1,h2,h3,h4 {
	font-family: Muli, Helvetica, Arial, verdana, sans;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(118,118,118);
  font-size: 2.2em;
	letter-spacing: .125em;}

[data-icon]:before {
        position: absolute;
        content:attr(data-icon);
        display: block;
        top:0;
        font-family: entypo;
        font-size: 46px;
        color:darken($grey, 44%);}

#logo a {
     @include hide-text;
     display:block;
     background-repeat: no-repeat; }








