
#toggle {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJ0aW55IiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnIGlkPSJDYXB0aW9ucyI+CjwvZz4KPGcgaWQ9IllvdXJfSWNvbiI+Cgk8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMjIyMjIiIGQ9Ik04OCwyOXYtMmMwLTIuOTM5LTAuOTYxLTQtNC00SDE2Yy0zLjA2MSwwLTQsMS4wMzktNCw0djJjMCwzLjEsMS4wMzksNCw0LDRoNjggICBDODcsMzMsODgsMzIuMDM5LDg4LDI5eiBNODgsNTF2LTJjMC0yLjkzOS0wLjk2MS00LTQtNEgxNmMtMy4wNjEsMC00LDEuMDM5LTQsNHYyYzAsMy4xLDEuMDM5LDQsNCw0aDY4Qzg3LDU1LDg4LDU0LjAzOSw4OCw1MXogICAgTTg4LDczdi0yYzAtMi45MzktMC45NjEtNC00LTRIMTZjLTMuMDYxLDAtNCwxLjAzOS00LDR2MmMwLDMuMSwxLjAzOSw0LDQsNGg2OEM4Nyw3Nyw4OCw3Ni4wMzksODgsNzN6Ii8+CjwvZz4KPC9zdmc+);
	background-position: 50% 50%;
  opacity:.35;
  background-repeat: no-repeat;
	background-size: 85% auto;
}

nav li {
	  border-bottom:1px solid darken($grey, 43%);
      a {
      	  
      	  &[data-icon]:before {
              font-size: em(30);
              top:50%;
              z-index: -4;
              margin-top: -11px;
              right:12%;
          }
      }
}


