.external {
	color:$red;
	padding: 0 0 .25em;
	border-bottom:1px dotted $red;}

.rt {
  width: flex-grid( 3,12 );
  float:right;
  margin-right: 0;
  margin-left: 0;}

p.credit {
	padding: 0 4%;
	font-size: .875em;}

ul.social {
           @include display-box;
           width:180px;
           margin:0 auto;
           @include box-orient( horizontal );
           
           li {
               @include box-flex( 8.0 );}
           a {
               position: relative;
               display: inline-block;
               margin-left: -36px;
               @include hide-text;}
    }   

@include media( $desk ) {
   
  p.credit {
  	padding: 0;
  	padding-top: 1em;
  	border-top:1px solid darken($grey, 43%);}
  	
}