{% include header.html %}

<section class="title-page">
  <div class="container">
    <div class="row">
      <h1>Le Blog</h1>
    </div>
  </div>
</section>

<section class="articles">
	
   <div class="container">

        <div class="grid-8">
        	   
        	   <article class ="single-article">

                  <h1>{{ page.title }}</h1>
                  <p>
                    Postee le <time>{{ page.date | date_to_long_string }}</time> par <em>{{ page.author | capitalize }}</em>
                  </p>
                  
                  {% if page.image != '' %}
                    <figure>
                      <img src="/img/blog/3d-print-show.jpg" alt=" {{ page.alt }}">
                      <figcaption>
                        Photo {{ page.author | capitalize }}
                      </figcaption> 
                    </figure>
                  {% endif %}

                  <div class="article-main">
                       
                       {{ content }}  

                        <ul class ="share">
                           <li><a href="{{ post.url }}">Pinterest</a></li>
                           <li><a href="http://www.facebook.com/sharer.php?u{{ post.url }}">Facebook</a></li>
                           <li><a href="'https://plusone.google.com/_/+1/confirm?hl=en&url=' + '{{ post.url }}'">Google+</a></li>
                        </ul>

                  </div>
      
        	   </article>

             
        </div>

        <aside class="grid-4">
          
          {% include sidebar.html %}

        </aside>

   </div>

</section>


{% include footer.html %}